# ignore any files beginning with .
.*

# and any backup files
*~

# and any files in the cache directory
assets/cache/*

# plus these asset directories
assets/images/*
assets/files/*
assets/media/*
assets/export/*
assets/flash/*
assets/thumbs/*
assets/libs/*
assets/templates/*

# and this one (MaxiGallery)
assets/galleries/
# and this one (MultiTV)
assets/tvs/

#ignore package development directories
assets/packages/

#ignore third party Extras (Add new core/bundled Extras with git add -f <files>)
assets/snippets
assets/plugins
assets/modules

#ignore manager help templates installed as extras
manager/help/templates

# and this one (MaxiGallery)
assets/galleries/
# and this one (MultiTV)
assets/tvs/

#ignore package development directories
assets/packages/

#ignore third party Extras (Add new core/bundled Extras with git add -f <files>)
assets/snippets
assets/plugins
assets/modules

# and the config file
manager/includes/config.inc.php

# except do not ignore .gitignore
!.gitignore

# and do not ignore index.html
!index.html
