/**
 * Common styles - used by all manager pages and linked to before the theme stylesheet 
 */

/*
 * jQuery UI
 * ---------
 */

@import url('clipper-jquery-ui.css');

.ui-widget {
    font-size: 1em;
    }

/* jQuery sortable lists */

.sortableList {
	list-style-type: none; margin: 0; padding: 0;
	}

.sortableList li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	list-style: none;
	}

.sortableList li:hover {
	cursor: move
	}

/**
 * Preloader
 */

#preLoader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	background: rgba(1,1,1,.5);
    }

.preLoaderText {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: auto;
	margin-left: -150px;
	margin-top: -120px;
	background: #fff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 50px 10px;
	opacity: 0.7;
	text-align: center;
    }

/**
 * Generic tables
 */

table.table {
	width: 100%;
	background: #ccc;
	border-collapse: collapse;
	}

table.table th, table.table td {
	border: solid 1px #ccc;
	}

thead tr {
    background: #e4e4e4;
    }

tbody tr {
    background: #fff;
    }

tr.odd {
	background: #fff;
	}
	
tr.even {
	background: #eee;
	}

th {
    font-weight: bold;
    }

/**
 * Welcome page
 */

#onlineusers td {
    width: 8em;
    }

#onlineusers td:last-child {
    width: auto;
    }

/**
 * Site Search
 */

.doc-view, .doc-id, .doc-icon  {
    width: 8em;
    }

/**
 * Backup manager
 */

.table-name {
    text-align: left;
	width: 22%;
	}

.table-data {
	text-align: right;
	width: 11%;
	}

tr.db-totals {
	background: #ccc;
	}

tr.db-totals td {
	vertical-align: top;
	}

/*
 * Help pages
 * ----------
 */

.help-table .tag {
	width: 14em;
	}

.help-table * {
	text-align: left;
	}

.help-table caption {
	font-weight: bold;
	font-size: 1.1em;
	}

/*
 * Misc
 * ----
 */

.tooltip{
	cursor: help;
	opacity: 0.7;
	}

.tooltip:hover{
	opacity: 1;
	}

.disabled-action{
	opacity: .5;
	}

fieldset.template-list label {
	display: block;
	}

.help-box {
	margin: 1em 0;
	}

h2.editor-heading {
	margin: 1em 0 0.5em 0;
	font-size: 1em;
	font-weight: bold;
	}

