/**
 * Common styles - used by all manager pages and linked to before the theme stylesheet 
 */

/*
 * jQuery UI
 * ---------
 */

@import url('clipper-jquery-ui.css');

.ui-widget {
    font-size: 1em;
    }

/* jQuery sortable lists */

.sortableList {
	list-style-type: none; margin: 0; padding: 0;
	}

.sortableList li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	list-style: none;
	}

.sortableList li:hover {
	cursor: move
	}

/**
 * Tab styles while jQuery UI is loading
 */ 

.js-tabs {
    position:relative;
    padding:.2em;
    border:1px solid #aaa;
    background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color:#222;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;      
    }
.js-tabs > ul {
    margin:0;
    padding:.2em .2em 0;
    border:1px solid #aaa;
    background:#ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color:#222;
    font-weight:bold;   
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;  
    }   

.js-tabs > ul:before, .js-tabs > ul:after { content: " "; display: table; }
.js-tabs > ul:after { clear: both; }
.js-tabs > ul > li {
    white-space:nowrap; 
    list-style:none;
    float:left;
    position:relative;
    top:0;
    margin: 1px .2em -1px 0;
    padding: 0 0 1px;
    border: 1px solid #AAAAAA;  
    border-bottom:0;    
    background: #FFF;
    color: #212121;
    font-weight: normal;
    -webkit-border-top-right-radius:4px;
        -moz-border-radius-topright:4px;
            border-top-right-radius:4px;    
    -webkit-border-top-left-radius:4px; 
        -moz-border-radius-topleft:4px;
            border-top-left-radius:4px;
    }

.js-tabs > ul > li > a {
    float:left;
    padding:.4em 1em;
    text-decoration:none;
    color:#212121;
    }

.js-tabs > div {
    padding:1em 1.4em;
    }

/**
 * Preloader
 */

#preLoader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	background: rgba(1,1,1,.5);
    }

.preLoaderText {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: auto;
	margin-left: -150px;
	margin-top: -120px;
	background: #fff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 50px 10px;
	opacity: 0.7;
	text-align: center;
    }

/**
 * Generic tables
 */

table.table {
	width: 100%;
	background: #ccc;
	border-collapse: collapse;
	}

table.table th, table.table td {
	border: solid 1px #ccc;
	}

table.table td, table.table th {
    text-align: left;
    }

thead tr {
    background: #e4e4e4;
    }

tbody tr {
    background: transparent;
    }

tr.odd {
	background: #fff;
	}
	
tr.even {
	background: #eee;
	}

th {
    font-weight: bold;
    }

/**
 * Welcome page
 */

#onlineusers td {
    width: 8em;
    }

#onlineusers td:last-child {
    width: auto;
    }

/**
 * Site Search
 */

.doc-view, .doc-id, .doc-icon  {
    width: 8em;
    }

/**
 * Backup manager
 */

.table-name {
    text-align: left;
	width: 22%;
	}

.table-data {
	text-align: right;
	width: 11%;
	}

tr.db-totals {
	background: #ccc;
	}

tr.db-totals td {
	vertical-align: top;
	}

/*
 * Help pages
 * ----------
 */

.help-table .tag {
	width: 14em;
	}

.help-table * {
	text-align: left;
	}

.help-table caption {
	font-weight: bold;
	font-size: 1.1em;
	}

/*
 * Misc
 * ----
 */

.tooltip{
	cursor: help;
	opacity: 0.7;
	}

.tooltip:hover{
	opacity: 1;
	}

.disabled-action{
	opacity: .5;
	}

fieldset.template-list label {
	display: block;
	}

.help-box {
	margin: 1em 0;
	}

h2.editor-heading {
	margin: 1em 0 0.5em 0;
	font-size: 1em;
	font-weight: bold;
	}

pre {
    white-space: pre-wrap;
    }

