/**
 * Common styles - used by all manager pages and linked to before the theme stylesheet 
 */

/*
 * jQuery UI
 * ---------
 */

@import url('clipper-jquery-ui.css');

.ui-widget {
    font-size: 1em;
    }

/* jQuery sortable lists */

.sortableList {
	list-style-type: none; margin: 0; padding: 0;
	}

.sortableList li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	list-style: none;
	}

.sortableList li:hover {
	cursor: move
	}

/**
 * Tab styles while jQuery UI is loading
 */ 

.js-tabs {
    position:relative;
    padding:.2em;
    border:1px solid #aaa;
    background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color:#222;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;      
    }
.js-tabs > ul {
    margin:0;
    padding:.2em .2em 0;
    border:1px solid #aaa;
    background:#ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color:#222;
    font-weight:bold;   
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;  
    }   

.js-tabs > ul:before, .js-tabs > ul:after { content: " "; display: table; }
.js-tabs > ul:after { clear: both; }
.js-tabs > ul > li {
    white-space:nowrap; 
    list-style:none;
    float:left;
    position:relative;
    top:0;
    margin: 1px .2em -1px 0;
    padding: 0 0 1px;
    border: 1px solid #AAAAAA;  
    border-bottom:0;    
    background: #FFF;
    color: #212121;
    font-weight: normal;
    -webkit-border-top-right-radius:4px;
        -moz-border-radius-topright:4px;
            border-top-right-radius:4px;    
    -webkit-border-top-left-radius:4px; 
        -moz-border-radius-topleft:4px;
            border-top-left-radius:4px;
    }

.js-tabs > ul > li > a {
    float:left;
    padding:.4em 1em;
    text-decoration:none;
    color:#212121;
    }

.js-tabs > div {
    padding:1em 1.4em;
    }

/**
 * Preloader
 */

#preLoader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	background: rgba(1,1,1,.5);
    }

.preLoaderText {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: auto;
	margin-left: -150px;
	margin-top: -120px;
	background: #fff;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 50px 10px;
	opacity: 0.7;
	text-align: center;
    }

/**
 * Generic tables
 */

table.table {
	width: 100%;
	background: #ccc;
	border-collapse: collapse;
	}

table.table th, table.table td {
	border: solid 1px #ccc;
	}

table.table td, table.table th {
    text-align: left;
    }

thead tr {
    background: #e4e4e4;
    }

tbody tr {
    background: transparent;
    }

tr.odd {
	background: #fff;
	}
	
tr.even {
	background: #eee;
	}

th {
    font-weight: bold;
    }

/**
 * Welcome page
 */

#onlineusers td {
    width: 8em;
    }

#onlineusers td:last-child {
    width: auto;
    }

/**
 * Site Search
 */

.doc-view, .doc-id, .doc-icon  {
    width: 8em;
    }

/**
 * Backup manager
 */

.table-name {
    text-align: left;
	width: 22%;
	}

.table-data {
	text-align: right;
	width: 11%;
	}

tr.db-totals {
	background: #ccc;
	}

tr.db-totals td {
	vertical-align: top;
	}

/*
 * Help pages
 * ----------
 */

.help-table .tag {
	width: 14em;
	}

.help-table * {
	text-align: left;
	}

.help-table caption {
	font-weight: bold;
	font-size: 1.1em;
	}

/*
 * Misc
 * ----
 */

.tooltip{
	cursor: help;
	opacity: 0.7;
	}

.tooltip:hover{
	opacity: 1;
	}

.disabled-action{
	opacity: .5;
	}

fieldset.template-list label {
	display: block;
	}

.help-box {
	margin: 1em 0;
	}

h2.editor-heading {
	margin: 1em 0 0.5em 0;
	font-size: 1em;
	font-weight: bold;
	}

.manager-pop {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 48%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 1%;
    background: white;
    box-shadow: -10px 10px 10px #555;
    }

pre {
    white-space: pre-wrap;
    }

/*
 * Tree context menu
 * -----------------
 */

#mx_contextmenu {
	position: absolute;
	height: auto;
	visibility: hidden;
	z-index: 10000;
	width: 165px;
	background-color: #fff;
	background-image:url(images/misc/tabareabg.gif);
	background-repeat:repeat-x;
	background-position:0 20px;
	margin: 0;
	padding-bottom:10px;
	border: 1px solid #ededed;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	overflow: hidden;
	line-height: 11px;
	box-shadow: 2px 2px 15px #eaeaea;
	-moz-box-shadow: 2px 2px 15px #eaeaea;
	-webkit-box-shadow: 2px 2px 20px #eaeaea;
    }

#mx_contextmenu .menuLink {
	cursor: pointer;
	color: #222;
	padding: 3px 5px 3px 4px;
    }

#mx_contextmenu .menuLink:hover {
	background: #DDDDDD;
	border: 1px solid #fdfdfd;
	border-bottom-color: #dcdcdc;
	color: #333;
    }

#mx_contextmenu .menuLink:hover, #mx_contextmenu .menuLinkDisabled {
	cursor: pointer;
	padding: 2px 4px 2px 3px;
    }

#mx_contextmenu .menuLinkDisabled, #mx_contextmenu .menuLinkTempDisabled {
	cursor: default;
	color: #787878;
    }

#mx_contextmenu .menuLink img, #mx_contextmenu .menuLink:hover img, #mx_contextmenu .menuLinkDisabled img {
	margin-right: 5px;
    }

#mx_contextmenu .menuLink img, #mx_contextmenu .menuLinkDisabled img {
	opacity: .3;
	filter: alpha(opacity=30);
    }

#mx_contextmenu .menuLink:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
}

#mx_contextmenu #nameHolder {
	color: #fff;
	text-align: left;
	cursor: default;
	font-weight: bold;
	padding: 6px 4px;
	margin-bottom: 3px;
	background-color: #86939E;
	background-repeat:repeat-x;
	text-shadow: 0px -1px 0px #2B5F0C;
    background:-moz-linear-gradient(#3f3f3f, #535353);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#3f3f3f), to(#535353));
    background:-o-linear-gradient(#3f3f3f, #535353);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f3f3f,endColorstr=#535353); zoom:1;
    }

#mx_contextmenu .seperator {
	font-size: 0;
	height: 1px;
	background-color: silver;
	overflow: hidden;
	margin: 3px 1px 3px 28px;
    }

.rtl #mx_contextmenu .menuLink {
    padding: 3px 2px 3px 16px;
    }

.rtl #mx_contextmenu .menuLink:hover, .rtl #mx_contextmenu .menuLinkDisabled {
    padding: 2px 1px 2px 15px;
    }

.rtl #mx_contextmenu .menuLink img, .rtl #mx_contextmenu .menuLink:hover img, .rtl #mx_contextmenu .menuLinkDisabled img {
	margin-right: 8px;
    }

.rtl #mx_contextmenu #nameHolder {
    text-align: right;
    }

.rtl #mx_contextmenu .seperator {
    margin: 3px 28px 3px 1px;

